<template>
  <div id="app">
    QSUN HERE:

    <QSun
      :products="products"
      width="100%"
      height="800px"
      @productSelected="productSelected"/>



    <button @click="sendOrder">SEND</button>

  </div>
</template>

<script>
  import QSun from './components/QSun.vue'
  import SockJS from 'sockjs-client'
  import {Stomp} from '@stomp/stompjs'
  import * as d3 from 'd3'

export default {
  name: 'app',
  components: {QSun},
	mounted(){
		d3.json("products.json").then(data => {
			this.products = data;
		})
	},
	data(){
		return {
			products: {},
			buyList: [
				{SKU: "sku123", label: 'Product1', category: {label: 'Food'}},
				{SKU: "sku222", label: 'Product2', category: {label: 'Food'}}
			],
			socket: {},
			stompClient: {}
		}
	},
	created(){
		this.socket = new SockJS("http://localhost:80/foodel-websocket/")
		this.socket.onopen = function() {
			console.log('CLIENT socket open');
		};


		this.socket.onmessage = function(e) {
			debugger
			console.log('CLIENT socket message', e.data);
		};

		this.socket.onclose = function() {
			console.log('CLIENT socket close');
		};

		this.stompClient = Stomp.over(this.socket);
		let sc = this.stompClient
		this.stompClient.connect({}, function (frame) {
			sc.subscribe('/topic/orders', function (products) {
				console.log("CLIENT OnClient - New Order: " + products);
			});

		});
	},
	destroyed(){
  		if(this.socket)
			this.socket.close()
	},
	methods: {
		productSelected(productNode){
			let product = Object.assign({},productNode.data)
			let existProducts = this.buyList.filter( existingProduct => {
				return existingProduct.name === product.name
			})
			if(existProducts.length){
				existProducts[0].count++
			} else {
				product.count = 1
				this.buyList.push(product)
			}

		},
		sendOrder(){
			let resp = this.stompClient.send(
				'/app/createOrder',
                {},
				JSON.stringify(
					{
                        buyList: this.buyList,
                        clientId: '123',
                        trackOrder: true
					})
            )
		}
	}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
